<div class="landing-main-body">
  <img class="logo-login" src='../../../../assets/landing/title.svg' alt="logo" />
  <ion-form class="landing-container" [formGroup]="loginForm">
    <ion-label>Connexion</ion-label>
    <ion-item-group>
      <ion-label for="adresse" class="landing-item-title">Adresse email</ion-label>
      <ion-item fill="outline" lines="none">
        <ion-input id="adresse" type="text" formControlName="adresse" />
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-label for="pass" class="landing-item-title">Mot de passe</ion-label>
      <ion-item fill="outline" lines="none">
        <ion-input id="pass" type="password" formControlName="pass" />
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-button class="landing-button-login" (click)="onLogIn()">Se connecter</ion-button>
      <ion-button class="landing-button-forget" id="forgot-password">J'ai oublié mon mot de passe</ion-button>
    </ion-item-group>
  </ion-form>
</div>

<app-forget-password></app-forget-password>
