.landing-forget-modal {
  ion-header {
    ion-list {
      background-color: white;
    }

    ion-label {
      color: black;
    }
  }

  ion-content {
    --background: white;

    ion-list {
      background-color: white;
      ion-item-group {
        background-color: white;

        ion-input {
          --background: white;
          color: black;
        }
      }
    }
  }

  .landing-forget-modal-button {
    --background: #7b61ff;
    width: 15em;
    margin: 0 auto;
  }
}
