<!-- consommations.component.html -->

<ion-content class="dashboard">
  <div class="div-2">
    <div class="frame-7">
      <div class="content-4">
        <div class="text-wrapper-5">Consommation des utilisateurs</div>
      </div>
      <div class="content-5">
        <div class="text-wrapper-6">Bornes disponibles</div>
      </div>
    </div>
    <div class="frame-8">
      <div class="text-wrapper-7">Filtres :</div>
      <div class="frame-9">
        <p class="text-wrapper-8">Résultats de votre recherche :</p>
        <div class="frame-10">
          <div class="frame-11">
            <div class="frame-12">
              <img src="assets/consommations/frame-607.png" />
            </div>
            <div class="frame-13">
              <div class="text-wrapper-9">Consommation électrique</div>
              <div class="div-3">
                <span class="span">1 023</span>
                <span class="text-wrapper-10"> kWh</span>
              </div>
            </div>
          </div>
          <div class="frame-11">
            <img class="frame-12" alt="Frame" src="assets/consommations/frame-608.png" />
            <div class="frame-13">
              <div class="text-wrapper-9">Couts de charge</div>
              <div class="div-3">
                <span class="span">148.335</span>
                <span class="text-wrapper-10"> €</span>
              </div>
            </div>
          </div>
          <div class="frame-11">
            <img class="frame-12" alt="Frame" src="assets/consommations/frame-609.png" />
            <div class="frame-13">
              <div class="text-wrapper-9">Distance totale chargé</div>
              <div class="div-3">
                <span class="span">5 115</span>
                <span class="text-wrapper-10"> km</span>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <!-- ... Rest of the content ... -->
    </div>
  </div>
</ion-content>
